.posts-search
  = search_form_for @q, class: "posts-serch__form" do |form|
    = form.search_field :title_or_text_cont, placeholder: "記事を検索する", class: "posts-serch__form--input"
    = form.submit "検索", class: "posts-serch__form--btn" do
      = icon('fa','search')
.posts-result　記事一覧
.posts-main-wrpper
  - @posts.each do |post|
    = link_to post_path(post), class: 'posts-box' do
      .posts-box__show
        .post-title
          = post.title
        .post-text
          = post.text.truncate(60)
        .post-continue
          <続きを読む>