.posts-search
  = search_form_for @q do |form|
    = form.label :title_or_text, "Keyword"
    = form.search_field :title_or_text_cont
    = form.submit "検索"
  -# = search_form_for @q, url: search_posts_path, class: "posts-serch__form" do |form|
  -#   = form.text_field :text_cont, placeholder: "投稿を検索する", class: "posts-serch__form--input"
  -#   = form.submit "検索", class: "posts-serch__form--btn"
.posts-main-wrpper
  - @posts.each do |post|
    = link_to post_path(post), class: 'posts-box' do
      .posts-box__show
        .post-title
          = post.title
        .post-text
          = post.text
        .post-continue
          <続きを読む>