.header__top
  = link_to "pokemon-box", root_path, class:"pokemon-box"
  .header__top__title
    .header__top__title__box
.header__bottom
  .header__bottom__boxes
    - if user_signed_in?
      = link_to "投稿する", new_post_path, class:"send-btn"
      .send-btn__box
    = link_to "ポケモン図鑑", pokemon_statuses_path, class: "header__bottom__boxes__box"
  - if user_signed_in?
    .header__bottom__boxes
      = link_to "マイページ", users_path, class: "header__bottom__boxes__box"
      = link_to "ログアウト", destroy_user_session_path, class: "header__bottom__boxes__box"
  - else
    .header__bottom__boxes
      = link_to "新規登録", new_user_registration_path, class: "header__bottom__boxes__box"
      = link_to "ログイン", new_user_session_path, class: "header__bottom__boxes__box"
